/* Format styles */

.lead {
    font-size: 18px;
    color: #000;
}

.padding-style-1 {
    padding-left: 8%;
    padding-right: 8%;
}

.padding-style-1-left {
    padding-left: 8%;
}

.padding-style-1-right {
    padding-right: 8%;
}

.padding-style-2 {
    padding-left: 16%;
    padding-right: 16%;
}

.padding-style-2-left {
    padding-left: 16%;
}

.padding-style-2-right {
    padding-right: 16%;
}

.padding-style-3 {
    padding-left: 16%;
    padding-right: 8%;
}

.padding-style-4 {
    padding-left: 8%;
    padding-right: 16%;
}

@media (max-width: 500px) {

    .padding-style-1,
    .padding-style-1-left,
    .padding-style-1-right,
    .padding-style-2,
    .padding-style-2-left,
    .padding-style-2-right,
    .padding-style-3,
    .padding-style-4 {
        padding-left: 10px !important;
        padding-right: 10px !important;
        display: block;
    }

}
